.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-image: url('../img/hero_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;

  &__darken {
    width: 100%;
    padding: 23px 0;
    background: rgba(0, 0, 0, .50);
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 103px;
    font-weight: 600;
    line-height: 114px;
  }

  .recipe-search {
    width: 100%;
    max-width: 600px;

    .search-form {
      width: 100%;
      position: relative;
    }

    .search-field {
      padding-left: 30px;
      padding-right: 100px;
      height: 80px;
      width: 100%;
      border-radius: 80px;
      border: 1px solid #57D681;
      background: #FFF;
      color: #646464;
      font-size: 22px;
      font-weight: 400;
      line-height: 32px;
    }

    .search-submit {
      position: absolute;
      width: 80px;
      height: 80px;
      right: 0;
      border-radius: 50%;
      background-image: url("data:image/svg+xml, %3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' rx='40' fill='%2357D681'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.0768 29.9543C29.1013 30.933 28.3275 32.095 27.7996 33.3739C27.2717 34.6527 27 36.0234 27 37.4076C27 38.7918 27.2717 40.1625 27.7996 41.4413C28.3275 42.7201 29.1013 43.8821 30.0768 44.8609C31.0522 45.8397 32.2103 46.6161 33.4848 47.1458C34.7593 47.6755 36.1253 47.9482 37.5048 47.9482C38.8843 47.9482 40.2503 47.6755 41.5248 47.1458C42.7993 46.6161 43.9573 45.8397 44.9328 44.8609C46.8461 42.8732 47.9048 40.211 47.8808 37.4476C47.8569 34.6843 46.7523 32.0409 44.8048 30.0869C42.8574 28.1328 40.223 27.0244 37.4691 27.0004C34.7151 26.9764 32.0619 28.0387 30.081 29.9585L30.0768 29.9543ZM43.4455 43.3686C42.6684 44.1658 41.7414 44.8004 40.7182 45.2357C39.695 45.671 38.5959 45.8983 37.4846 45.9045C36.3732 45.9106 35.2717 45.6955 34.2438 45.2715C33.2158 44.8476 32.2819 44.2232 31.4961 43.4346C30.7104 42.646 30.0883 41.7088 29.6659 40.6773C29.2436 39.6458 29.0294 38.5405 29.0357 37.4253C29.042 36.3102 29.2687 35.2074 29.7027 34.1808C30.1367 33.1541 30.7694 32.2241 31.5641 31.4445C33.1459 29.8927 35.2738 29.0294 37.4861 29.042C39.6983 29.0546 41.8163 29.9421 43.3804 31.5119C44.9446 33.0817 45.8287 35.2071 45.8409 37.4268C45.8531 39.6466 44.9923 41.7816 43.4455 43.3686Z' fill='white'/%3E%3Cpath d='M43.4455 46.3934C43.0516 45.9979 42.8304 45.4616 42.8306 44.9024C42.8308 44.3433 43.0524 43.8071 43.4466 43.4119C43.8407 43.0167 44.3752 42.7947 44.9325 42.7949C45.4897 42.7951 46.0241 43.0174 46.418 43.4129L52.3587 49.376C52.5593 49.5705 52.7194 49.8031 52.8295 50.0602C52.9395 50.3174 52.9975 50.594 52.9999 50.8739C53.0023 51.1537 52.9492 51.4313 52.8436 51.6903C52.7379 51.9494 52.582 52.1847 52.3847 52.3826C52.1875 52.5806 51.9529 52.7371 51.6948 52.8431C51.4366 52.949 51.16 53.0024 50.8811 52.9999C50.6021 52.9975 50.3265 52.9394 50.0702 52.8289C49.8139 52.7184 49.5821 52.5578 49.3883 52.3565L43.4455 46.3934Z' fill='white'/%3E%3C/svg%3E");
    }
  }
}