.header {
  padding: 45px 0;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999999;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {

}

.main-menu {
  margin-left: auto;

  &__item {
    margin-right: 100px;
    text-decoration: none;
    color: #3F3E3E;
    font-size: 22px;
    line-height: 32px;

    &:last-child {
      margin-right: 110px;
    }
  }
}

.burger {

  &__svg {

  }
}